

<div class="container">

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Salesforce Management Links</th>
				<th><%= link_to "Go To Salesforce Dashboard", salesforces_sales_calls_path %></th>
			</tr>
		</thead>
		<tbody>
			<tr><td colspan=2><%= link_to "TSM Management", configurations_tsm_settings_path %></td></tr>
			<tr><td colspan=2><%= link_to "Sales Rep Management", configurations_rep_settings_path %></td></tr>
			<tr><td colspan=2><%= link_to "Quarter Management", configurations_annual_quarter_index_path %></td></tr>
		</tbody>
	</table>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>SRO Management Links</th>
				<th><%= link_to "Go To SRO's Company Wide", sros_alls_path %></th>
				<th><%= link_to "Go To SRO's Order Entry", sros_order_entries_path %></th>
			</tr>
		</thead>
		<tbody>
			<tr><td colspan=3><%= link_to "Responsibility Management", configurations_sro_responsibility_index_path %></td></tr>
			<tr><td colspan=3><%= link_to "Failure Code Management", configurations_sro_failure_code_index_path %></td></tr>
			<tr><td colspan=3><%= link_to "Report Criteria Management", configurations_sro_report_criteria_path %></td></tr>
		</tbody>
	</table>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>IT Expenses</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= link_to "IT Expenses", it_expense_index_path %></td> 
			</tr>
		</tbody>
	</table>

	<table class="table table-hover">
	<thead>
		<tr>
			<th>Endura Report Links</th>
			<th><%= text_field_tag :date,nil, placeholder:"Report Date..." ,id: 'start_date', class: 'form-control' %></th>
		</tr>
	</thead>
	<tbody>
		<tr><td colspan=2><%= link_to "Customer Order Performance Report", "http://qadreports.enduraproducts.com/mail/fillbydate?format=html&date=4/10/17", remote: true, class: 'remote_report_link' %></td></tr>
		<tr><td colspan=2><%= link_to "Automated Billing Report", "http://qadreports.enduraproducts.com/mail/billingreportfromname?format=html&name=04_10_17_invexport.txt", remote: true, class: 'remote_report_link' %></td></tr>
		<tr><td colspan=2><%= link_to "AR Metrics", "http://qadreports.enduraproducts.com/mail/armetrics?format=html&date=04/10/17", remote: true, class: 'remote_report_link' %></td></tr>
		<tr><td colspan=2><%= link_to "Daily Orders By Product Line", "http://qadreports.enduraproducts.com/mail/dailysalesbypl?format=html&date=04/10/17", remote: true, class: 'remote_report_link' %></td></tr>
		<tr><td colspan=2><%= link_to "SRO's Pending Approval", "#", remote: true, class: 'remote_report_link' %></td></tr>
		<tr><td colspan=2><%= link_to "SRO Report", "#", remote: true, class: 'remote_report_link' %></td></tr>
	</tbody>
	</table>
</div>