<div class="container">

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Salesforce Management Links</th>
				<th><%= link_to "Go To Salesforce Dashboard", salesforces_sales_calls_path %></th>
			</tr>
		</thead>
		<tbody>
			<tr><td colspan=2><%= link_to "TSM Management", configurations_tsm_settings_path %></td></tr>
			<tr><td colspan=2><%= link_to "Sales Rep Management", configurations_rep_settings_path %></td></tr>
			<tr><td colspan=2><%= link_to "Quarter Management", configurations_annual_quarter_index_path %></td></tr>
		</tbody>
	</table>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>SRO Management Links</th>
				<th> <%= link_to "Go To SRO's Company Wide", sros_alls_path %></th>
				<th><%= link_to "Go To SRO's Order Entry", sros_order_entries_path %></th>
			</tr>
		</thead>
		<tbody>
			<tr><td colspan=3><%= link_to "Responsibility Management", configurations_sro_responsibility_index_path %></td></tr>
			<tr><td colspan=3><%= link_to "Failure Code Management", configurations_sro_failure_code_index_path %></td></tr>
			<tr><td colspan=3><%= link_to "Report Criteria Management", configurations_sro_report_criteria_path %></td></tr>
		</tbody>
	</table>
</div>