
<script type="text/javascript">
  
  $(window).load(function(){
   
    
    $('#unconfirmed_table tr:last').css('background-color','#428bca');

    //This will export data to Sros::ReportCard to create xls file on the backend and download it
    $('.report-card').on('click', function(e){
       $('#emailModal').modal('show');
    });

    $('.sendEmail').on('click', function(e){
      e.preventDefault();

      var emp_report_card = [];
      emp_report_card.push({email: $('.toEmail').val()});

      //This cycles all checkboxes and selects which users to send back to the controller based off being checked
      $.each($('input[type=checkbox]'), function(){
        if ($(this).prop('checked')){
          var data_row = $(this).parents('tr')
          var emp = data_row.children('td:eq(0)').text()
          var total_order_count = data_row.children('td:eq(1)').text()
          var man_orders = data_row.children('td:eq(2)').text()
          var man_lag_time = data_row.children('td:eq(3)').text()
          var auto_orders = data_row.children('td:eq(4)').text()
          var scan_lag_time = data_row.children('td:eq(5)').text()
          var order_perc = data_row.children('td:eq(6)').text()
          var total_lines = data_row.children('td:eq(7)').text()
          var man_lines = data_row.children('td:eq(8)').text()
          var auto_lines = data_row.children('td:eq(9)').text()
          var line_perc = data_row.children('td:eq(10)').text()
          var cust_count = data_row.children('td:eq(11)').text()
          var sro_dol_total = data_row.children('td:eq(12)').text()
          var sro_total = data_row.children('td:eq(13)').text()
          var stat_month = data_row.children('td:eq(14)').text()
          var email = $('#toEmail').val();

          emp_report_card.push({emp: emp, total_order_count: total_order_count, man_orders: man_orders, man_lag_time: man_lag_time, auto_orders: auto_orders, scan_lag_time: scan_lag_time, order_perc: order_perc, total_lines: total_lines, man_lines: man_lines, auto_lines: auto_lines, line_perc: line_perc, cust_count: cust_count, sro_dol_total: sro_dol_total, sro_total: sro_total, stat_month: stat_month, email: email});
        }
      });

      $.ajax({
          url: '/sros/report_card',
          type: 'post',
          datatype: 'json',
          data: {emp_report_card},
          success: function (data) {
              if (data["success"] == true){
                alert("Email is on it's way");
              } else {
                alert("There was an error when exporting. Please try again");
              }
          }
          
      });
      $('#emailModal').modal('hide');
    });

  });

  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawVisualization);

  function drawVisualization(){
    var order_data = google.visualization.arrayToDataTable(<%= raw @performance_data[:orders] %>);
    var line_data = google.visualization.arrayToDataTable(<%= raw @performance_data[:lines] %>);

    var options1 = {
    	vAxis: {title: 'Total Count'},
    	hAxis: {title: 'Entry  Method'},
      title: "Order Counts",
    	seriesType: 'bars'
    };

    var chart = new google.visualization.ComboChart(document.getElementById('performance_orders_chart'));
    chart.draw(order_data, options1);

    var options2 = {
      vAxis: {title: 'Total Count'},
      hAxis: {title: 'Entry  Method'},
      title: "Order Lines",
      seriesType: 'bars'
    };
    var chart2 = new google.visualization.ComboChart(document.getElementById('performance_lines_chart'));
    chart2.draw(line_data, options2);

    var data3 = google.visualization.arrayToDataTable(<%= raw @user_unconfirmed_chart_data %>)
    var options3 = {
        curveType: 'function',
        legend: { position: 'bottom' }
      };

    var chart3 = new google.visualization.LineChart(document.getElementById('unconfirmed_order_chart'));
    //chart3.draw(data3, options3);

    var data4 = google.visualization.arrayToDataTable(<%= raw @unconfirmed_det_chart %>)
    var options4 = {
      pieHole: 0.4,
      title: "Totals By Status"
    };

    var chart4 = new google.visualization.PieChart(document.getElementById('unconfirmed_status_pie'));
    //chart4.draw(data4, options1);


    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      chart.draw(order_data, options1);
      chart2.draw(line_data, options2);
      chart3.draw(data3,options3);
      chart4.draw(data4, options4);
    });

  }

  $( function() {
    date = new Date();
    minutes = date.getMinutes();
    if (minutes <= 30){
      refreshIn = (30 - minutes) * 60000
    }
    else{
      refreshIn = (60 - minutes) * 60000
    }

    setTimeout(function(){location.reload();}, refreshIn);

  });
</script>

<div class="container">
  <div class="text-center well well-lg">Data Range Displaying: <%= @start_date %> - <%=@end_date %></div>
  <ul class="nav nav-pills nav-justified" id="test">
    <li class="active"><a href="#current_snap" data-toggle="tab", id="snapTab">OE - Performance Snapshot - <%= @sro_month %></a></li>
    <li><a href="#sro_summary" data-toggle="tab" id="sroTab">OE - SRO Summary</a></li>
    <li><a href="#unconfirmed_overview" data-toggle="tab" id="unconfirmedTab">OE - Unconfirmed Overview</a></li>
    <li><a href="#unconfirmed_detail" data-toggle="tab" id="unconfirmedDetTab">OE - Unconfirmed Detail</a></li>
  </ul>

  <div class="tab-content" style="margin-top:20px;">
    <div class="tab-pane fade in active" id="current_snap">
      <div class="col-sm-12 col-md-6"><div id="performance_lines_chart" style="height:350px;"></div></div>
      <div class="col-sm-12 col-md-6"><div id="performance_orders_chart" style="height:350px;"></div></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Total Orders</th>
            <th>Manual Orders</th>
            <th>Manual Lag Time (Days)</th>
            <th>Scanned Orders</th>
            <th>Scanned Lag Time (Days)</th>
            <th>Orders Complete(%)</th>
            <th>Total Lines</th>
            <th>Manual Lines</th>
            <th>Scanned Lines</th>
            <th>Lines Complete(%)</th>
            <th>Customer Count</th>
            <th>Total Order $</th>
            <th>SROs</th>
            <th>Stats Month</th>
            <th><span class="glyphicon glyphicon-save-file report-card"></span></th>
          </tr>
        </thead>
        <tbody>
          <% @user_stats.each do |user_stat| %>
            <% unless @user_exceptions.include?(user_stat["t_userid"].downcase) %>
              <tr>
                <td><%= user_stat["t_userid"] %></td>
                <td><%= user_stat["t_edi_ord"] + user_stat["t_scn_ord"] + user_stat["t_man_ord"] %></td>
                <td><%= user_stat["t_man_ord"] %></td>
                <td class="text-center"><%= user_stat["t_man_lag"] == 0 ? 0 : user_stat["t_man_ord"] / user_stat["t_man_lag"]%></td>
                <td><%= user_stat["t_edi_ord"] + user_stat["t_scn_ord"] %></td>
                <td class="text-center"><%= user_stat["t_edi_lag"] + user_stat["t_scn_lag"]  == 0 ? 0 : (user_stat["t_edi_ord"] + user_stat["t_scn_ord"]) / (user_stat["t_edi_lag"] + user_stat["t_scn_lag"])%></td>
                <td class="text-center"><%= user_stat["order_percent"] %></td>
                <td><%= user_stat["t_edi_line"] + user_stat["t_scn_line"] + user_stat["t_man_line"] %></td>
                <td><%= user_stat["t_man_line"] %></td>
                <td><%= user_stat["t_edi_line"] + user_stat["t_scn_line"] %></td>
                <td class="text-center"><%= user_stat["line_percent"] %></td>
                <td class="text-center"><%= user_stat["t_custcount"] %></td>
                <td class="text-center"><%= number_to_currency(user_stat["t_man_dol"] + user_stat["t_edi_dol"] + user_stat["t_scn_dol"]) %></td>
                <td><%= user_stat["t_edi_sro"] + user_stat["t_scn_sro"] + user_stat["t_man_sro"] %></td>
                <td><%= Date.parse(user_stat["t_month"]).strftime("%b '%y") unless user_stat["t_month"].nil? %></td>
                <% if  user_stat["export"] == false %>
                  <td/>            
                <% else %>
                  <td><%= check_box("me", "you") %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="sro_summary">
      <!-- <div id="sro_overview_chart" class="col-md-12" style="height:350px;"></div> -->
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Type</th>
            <th class="text-center">Current Data Range $</th>
            <th class="text-center">Previous YTD $</th>
          </tr>
        </thead>
        <tbody>
          <% if @sro_overview.count == 0 %>
            <div class="jumbotron">
              <p class="text-center">No SRO's at this time.</p>
            </div>
          <% else %>
            <% @sro_overview.each do |key, value| %>
              <tr>
                <td colspan="4" class="text-center bg-success"><i><%= key %></i></td>
  	          </tr>
        	    <tr>
        	      <% value.each do |type, value| %>
        	        <tr rowspan="3">
        	          <td><%= type %></td>
                    <td class="text-center">$<%= value["current_ytd"].nil? ? "0.00" : value["current_ytd"].round(2) %></td>
        	          <td class="text-center">$<%= value["previous_year"].nil? ? "0.00" : value["previous_year"].round(2) %></td>
        	        </tr>	      
        	      <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <table class="table table-condensed">
      <thead>
        <tr>
          <th colspan=2 class="text-center header_row">Total SRO's $</th>
        </tr>
        <tr>
          <th class="text-center">Current YTD $</th>
          <th class="text-center">Previous YTD $</th>
        </tr>
      </thead>
      <tbody>
         <tr>
            <td class="text-center"><%= number_to_currency(@total_sro_curr_ytd) %></td>
            <td class="text-center"><%= number_to_currency(@total_sro_prev_ytd) %></td>
          </tr>
      </tbody>
      </table>
      <table class="table table-condensed">
        <thead>
	        <tr><td colspan="2" class="text-center header_row">Top 20 Customers by SRO $</td></tr>
          <tr>
            <th>Customer</th>
            <th>YTD SRO $</th>
          </tr>
        </thead>
        <tbody>
          <% @sro_by_customer.each do |key, value| %>
            <tr>
              <td><%= key %></td>
	            <td><%= number_to_currency(value) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="unconfirmed_overview">
      <% if @user_unconfirmed.count > 1 %>
        <div id="unconfirmed_order_chart" style="height:350px;"></div>
        <table class="table table-condensed" id="unconfirmed_table">
          <thead>
            <tr>
              <th>User</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
            </tr>
          </thead>
          <tbody>
            <% @user_unconfirmed.each do |key, values| %>
              <tr>
                <td><%= key %></td>
                <td><%=values["Monday"] %></td>
                <td><%=values["Tuesday"] %></td>
                <td><%=values["Wednesday"] %></td>
                <td><%=values["Thursday"] %></td>
                <td><%=values["Friday"] %></td>
                <td><%=values["Saturday"] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="jumbotron">
          <p class="text-center">No unconfirmed data at this time.</p>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="unconfirmed_detail">
      <% if @unconfirmed_detail.count == 0 %>
        <div class="jumbotron">
          <p class="text-center">No Unconfirmed Details at this time for <%= @start_date %> - <%= @end_date %>.</p>
        </div>
      <% else %>
        <% if @value_status  %>
          <div class="col-sm-12 col-md-6 text-center"><div id="unconfirmed_status_pie" style="height:350px;"></div></div>
          <div class="col-sm-12 col-md-6 text-center">
            <table class="table table">
              <thead>
                <tr><th colspan=2 class="text-center">Legend for Status Codes</th></tr>
              </thead>
              <tbody>
                <tr><td class="text-center">HD</td><td class="text-left">Credit Hold</td></tr>
                <tr><td class="text-center">HI</td><td class="text-left">New Item number required</td></tr>
                <tr><td class="text-center">HS</td><td class="text-left">New specs required</td></tr>
                <tr><td class="text-center">OK</td><td class="text-left">Order ready to release</td></tr>
                <tr><td class="text-center">RC</td><td class="text-left">Released from credit hold</td></tr><tr><td class="text-center">SS</td><td class="text-left">Spec sign off required</td></tr>
                <tr><td class="text-center">SW</td><td class="text-left">Hold to ship with a stock order</td></tr>
                <tr><td class="text-center">TB</td><td class="text-left">Pricing issues</td></tr>
              </tbody>
            </table>
          </div>
        <% else %>
          <div class="col-sm-12 col-md-6 text-center"><div id="unconfirmed_status_pie" class="hide" style="height:350px;"></div></div>
          <div class="jumbotron">
            <p class="text-center">No Unconfirmed Details Totals avaialble at this time for <%= @start_date %> - <%= @end_date %>.</p>
          </div>
        <% end %>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>User</th>
              <th>Customer</th>
              <th>Status Code</th>
              <th>Order Total</th>
              <th>Site</th>
              <th>Date</th>
            </tr>
          </thead>
          <% @unconfirmed_detail.each do |detail| %>
            <tbody>
              <tr>
                <td><%= detail["ttdetuserid"] %></td>
                <td><%= detail["ttdetname"] %></td>
                <td><%= detail["ttdetstat"] %></td>
                <td><%= detail["ttdettot"] %></td>
                <td><%= detail["ttdetsite"] %></td>
                <td><%= detail["ttdetdate"] %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>

 <div class="modal fade" id="emailModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Email Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="text" class="form-control" id="toEmail" placeholder="Enter Email Sending Export to..">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary sendEmail">Send Email</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
