<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawVisualization);

  function drawVisualization(){
    var data = google.visualization.arrayToDataTable(<%= raw @performance_data %>);
    
    var options = {
	vAxis: {title: 'Total Count'},
	hAxis: {title: 'Entry  Method'},
	seriesType: 'bars'
    };

    var chart = new google.visualization.ComboChart(document.getElementById('performance_chart'));
    chart.draw(data, options);
  }
</script>

<div class="container" style="margin-top:65px;">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#current_snap" data-toggle="tab">Performance Snapshot - <%= @sro_month %></a></li>
    <li><a href="#sro_summary" data-toggle="tab">SRO Summary</a></li>
  </ul>

  <div class="tab-content" style="margin-top:20px;">
    <div class="tab-pane" id="sro_summary">
      <div id="sro_overview_chart" class="col-md-12 style=height: 400px;"></div>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Type</th>
            <th>Current YTD $</th>
            <th>Previous Year $</th>
            <th>Current Month $</th>
          </tr>
        </thead>
        <tbody>
          <% @sro_overview.each do |key, value| %>
            <tr>
              <td colspan="4" class="text-center bg-success"><%= key %></td>
	    </tr>
	    <tr>
	      <% value.each do |type, value| %>
	        <tr rowspan="4">
	          <td><%= type %></td>
                  <td><%= value["current_ytd"].nil? ? "0.00" : value["current_ytd"].round(2) %></td>
	          <td><%= value["previous_year"].nil? ? "0.00" : value["previous_year"].round(2) %></td>
	          <td><%= value["current_month"].nil? ? "0.00" : value["current_month"].round(2) %></td>
	        </tr>	      
	      <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane active" id="current_snap">
      <div id="performance_chart" class="col-md-12" style="height:400px;"></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Total Orders</th>
            <th>Manual Orders</th>
            <th>Auto Orders</th>
            <th>Total Lines</th>
            <th>Manual Lines</th>
            <th>Auto Lines</th>
            <th>SROs</th>
          </tr>
        </thead>
      <tbody>
        <% @user_stats.each do |user_stat| %>
          <tr>
            <td><%= user_stat["t_userid"] %></td>
	    <td><%= user_stat["t_edi_ord"] + user_stat["t_scn_ord"] + user_stat["t_man_ord"] %></td>
	    <td><%= user_stat["t_man_ord"] %></td>
	    <td><%= user_stat["t_edi_ord"] + user_stat["t_scn_ord"] %></td>
	    <td><%= user_stat["t_edi_line"] + user_stat["t_scn_line"] + user_stat["t_man_line"] %></td>
 	    <td><%= user_stat["t_man_line"] %></td>
	    <td><%= user_stat["t_edi_line"] + user_stat["t_scn_line"] %></td>
	    <td><%= user_stat["t_edi_sro"] + user_stat["t_scn_sro"] + user_stat["t_man_sro"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
