<% CSV.foreach "/media/tbell/xxsa0021_email.prn"  do |row| %>
<%# CSV.foreach "/Users/jmilam/Desktop/xxsa0021_email.prn"  do |row| %>
	<% if @header && row.count == 13 %>
		<table style="border-collapse: collapse;border-spacing: 0;">
			<thead>
				<tr style="background-color:#d9534f;border-bottom: 1px solid black;">
					<% row.each_with_index do |column, index| %>
						<% if index == 0 %>
							<td style="text-align:left;border-bottom: 1px solid black;">
						<% else %>
							<td style="text-align:right;border-bottom: 1px solid black;">
						<% end %>
						<%= column %></td>
					<% end %>
				</tr>
			</thead>
			<tbody>
			<% @header = false %>
	<% elsif !@header && @sub_header && row.count == 13 %>
			<tr style="background-color:#d9534f;border-bottom: 1px solid black;">
				<% row.each_with_index do |column, index| %>
					<% if index == 0 %>
						<td style="text-align:left;border-bottom: 1px solid black;">
					<% else %>
						<td style="text-align:right;border-bottom: 1px solid black;">
					<% end %>
						<%= column %></td>
				<% end %>
			</tr>
		</thead>
		<tbody>

		<% @sub_header = false %>
	<% elsif !@header && row.count == 13 %>
		<tr style="border-bottom: 1px solid black;">
			<% row.each_with_index do |column, index| %>
				<% if index == 0 %>
					<td style="white-space:nowrap;text-align: left;border-bottom: 1px solid black;">
				<% else %>
					<td style="text-align:right;border-bottom: 1px solid black;" >
				<% end %>
					<%= column.match(/\d+/).nil? ? column : number_with_precision(column.to_i, precision: 2, :delimiter => ',') %>
					</td>
			<% end %>
		</tr>
	<% elsif !@header && row.count == 5 %>
				<tr style="background-color:#5bc0de;border-bottom: 1px solid black;">
					<td style="text-align:right;border-bottom: 1px solid black;"><%= row[0] %></td>
					<td colspan="2" style="border-bottom: 1px solid black;"></td>
					<td style="text-align:right;border-bottom: 1px solid black;"><%= number_to_currency(row[1].to_i) %></td>
					<td colspan="2" style="border-bottom: 1px solid black;"></td>
					<td style="text-align:right;border-bottom: 1px solid black;"><%= number_to_currency(row[2].to_i) %></td>
					<td colspan="2" style="border-bottom: 1px solid black;"></td>
					<td style="text-align:right;border-bottom: 1px solid black;"><%= number_to_currency(row[3].to_i) %></td>
					<td colspan="2" style="border-bottom: 1px solid black;"></td>
					<td style="text-align:right;border-bottom: 1px solid black;"><%= number_to_currency(row[4].to_i) %></td>
				</tr>
			</tbody>
		</table>
		<% @header = true %>
	<% elsif @header && row.count == 2 %>
		<table style="border-collapse: collapse;border-spacing: 0;">
			<thead>
				<tr style="border-bottom: 1px solid black;">
					<td colspan="13" style="background-color:#5cb85c;text-align:center;border-bottom: 1px solid black;">Division: <%= row[1] %></td>
				</tr>

		<% @sub_header = true %>
		<% @header = false %>
	<% elsif !@header && row.count == 2 %>
			</tbody>
		</table>
		<table>
			<thead>
				<tr style="border-bottom: 1px solid black;">
					<td colspan="13" style="background-color:#5cb85c;text-align: center;border-bottom: 1px solid black;">Division: <%= row[1] %></td>
				</tr>
			</thead>
			<tbody>
			<% @sub_header = true %>
	<% end %>


	<% @counter += 1 %>
<% end %>
