<% CSV.foreach "/media/tbell/xxsa0021_email.prn"  do |row| %>
<%# CSV.foreach "/Users/jmilam/Desktop/xxsa0021_email.prn"  do |row| %>
	<% if @header && row.count == 13 %>
		<table class="table table-stripped">
			<thead>
				<tr style="background-color:#d9534f">
					<% row.each_with_index do |column, index| %>
						<% if index == 0 %>
							<td class="text-left">
						<% else %>
							<td class="text-right">
						<% end %>
						<%= column %></td>
					<% end %>
				</tr>
			</thead>
			<tbody>
			<% @header = false %>
	<% elsif !@header && @sub_header && row.count == 13 %>
			<tr style="background-color:#d9534f">
				<% row.each_with_index do |column, index| %>
					<% if index == 0 %>
						<td class="text-left">
					<% else %>
						<td class="text-right">
					<% end %>
						<%= column %></td>
				<% end %>
			</tr>
		</thead>
		<tbody>

		<% @sub_header = false %>
	<% elsif !@header && row.count == 13 %>
		<tr>
			<% row.each_with_index do |column, index| %>
				<% if index == 0 %>
					<td class="text-left" style="white-space:nowrap;">
				<% else %>
					<td class="text-right" >
				<% end %>
					<%= column.match(/\d+/).nil? ? column : number_with_precision(column.to_i, precision: 2, :delimiter => ',') %>
					</td>
			<% end %>
		</tr>
	<% elsif !@header && row.count == 5 %>
				<tr style="background-color:#5bc0de">
					<td class="text-right"><%= row[0] %></td>
					<td colspan="2"></td>
					<td class="text-right"><%= number_to_currency(row[1].to_i) %></td>
					<td colspan="2"></td>
					<td class="text-right"><%= number_to_currency(row[2].to_i) %></td>
					<td colspan="2"></td>
					<td class="text-right"><%= number_to_currency(row[3].to_i) %></td>
					<td colspan="2"></td>
					<td class="text-right"><%= number_to_currency(row[4].to_i) %></td>
				</tr>
			</tbody>
		</table>
		<% @header = true %>
	<% elsif @header && row.count == 2 %>
		<table class="table table-stripped">
			<thead>
				<tr>
					<td colspan="13" class="text-center" style="background-color:#5cb85c">Division: <%= row[1] %></td>
				</tr>

		<% @sub_header = true %>
		<% @header = false %>
	<% elsif !@header && row.count == 2 %>
			</tbody>
		</table>
		<table class="table table-stripped">
			<thead>
				<tr>
					<td colspan="13" class="text-center" style="background-color:#5cb85c">Division: <%= row[1] %></td>
				</tr>
			</thead>
			<tbody>
			<% @sub_header = true %>
	<% end %>


	<% @counter += 1 %>
<% end %>
