
<div style="margin-top:100px;">
</div>
<div class="container">
<div class="row text-center header_row">
  SRO's By Division
</div>
<div class="row">
  <table class="table table">
    <thead>
      <tr>
        <th>Division</th>
        <th>Current Month</th>
	<th>Previous Month</th>
	<th>YTD</th>
	<th>Previous YTD</th>
	<th>Previous Year</th>
      </tr>
    </thead>
    <tbody>
      <% @sro_by_division.each do |key, value| %>
        <tr>
          <td><%= key %></td>
	  <td><%= number_to_currency(value[:curr_month]) %></td>
          <td><%= number_to_currency(value[:prev_month]) %></td>
          <td><%= number_to_currency(value[:curr_ytd]) %></td>
          <td><%= number_to_currency(value[:prev_ytd]) %></td>
          <td><%= number_to_currency(value[:prev_year]) %></td>
        </tr>
      <% end %>
    </tbody>  
  </table>  
</div>
<div class="row text-center header_row">
  SRO's By Type
</div>
<div class="row">
  <table class="table table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Current Month</th>
        <th>Previous Month</th>
        <th>YTD</th>
        <th>Previous YTD</th>
        <th>Previous Year</th>
      </tr>
    </thead>
    <tbody>
      <% @sro_by_type.each do |key, value| %>
	<tr class="table danger"><td colspan="6"><%= key %></td></tr>
	<% value.each do |key, vaule| %>
        <tr>
          <td><%= key %></td>
          <td><%= number_to_currency(value[key][:curr_month]) %></td>
          <td><%= number_to_currency(value[key][:prev_month]) %></td>
          <td><%= number_to_currency(value[key][:curr_ytd]) %></td>
          <td><%= number_to_currency(value[key][:prev_ytd]) %></td>
          <td><%= number_to_currency(value[key][:prev_year]) %></td>
        </tr>
	<% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row text-center header_row">
  SRO's By Product Line
</div>
<div class="row">
  <table class="table table">
    <thead>
      <tr>
        <th>Product Line</th>
        <th>Current Month</th>
        <th>Previous Month</th>
        <th>YTD</th>
        <th>Previous YTD</th>
        <th>Previous Year</th>
      </tr>
    </thead>
    <tbody>
      <% @sro_by_prod_line.each do |key, value| %>
        <tr class="table danger"><td colspan="6"><%= key %></td></tr>
	<% value.each do |key, value| %>
        <tr>
          <td><%= key %></td>
          <td><%= number_to_currency(value[:curr_month]) %></td>
          <td><%= number_to_currency(value[:prev_month]) %></td>
          <td><%= number_to_currency(value[:curr_ytd]) %></td>
          <td><%= number_to_currency(value[:prev_ytd]) %></td>
          <td><%= number_to_currency(value[:prev_year]) %></td>
        </tr>
	<% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row text-center header_row">
  SROs By Department
</div>
<div class="row">
  <table class="table table">
    <thead>
      <tr>
        <th>Department</th>
        <th>Current Month</th>
        <th>Previous Month</th>
        <th>YTD</th>
        <th>Previous YTD</th>
        <th>Previous Year</th>
      </tr>
    </thead>
    <tbody>
      <% @sro_by_dept.each do |key, value| %>
	<tr class="table danger"><td colspan="6"><%= key %></td></tr>
        <% value.each do |key, value| %>
        <tr>
          <td><%= key %></td>
          <td><%= number_to_currency(value[:curr_month]) %></td>
          <td><%= number_to_currency(value[:prev_month]) %></td>
          <td><%= number_to_currency(value[:curr_ytd]) %></td>
          <td><%= number_to_currency(value[:prev_ytd]) %></td>
          <td><%= number_to_currency(value[:prev_year]) %></td>
        </tr>
	<% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row text-center header_row">
  Top 20 Customers by SRO $
</div>
<div class="row">
  <table class="table table">
    <thead>
      <tr>
        <th>Customer</th>
        <th>YTD SRO $</th>
      </tr>
    </thead>
    <tbody>
      <% @sro_by_customer.each do |key, value| %>
        <tr>
	  <td><%= key %></td>
	  <td><%= number_to_currency(value) %></td>
        </tr>
        <%# end %>
      <% end %>
    </tbody>
  </table>

</div>
</div>
