<script type="text/javascript">

  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawVisualization);

  function drawVisualization(){
    var options1 = {
      pieHole: 0.4,
      title: "Totals By Responsibility"
    };

    var data1 = google.visualization.arrayToDataTable(<%= raw @sro_responsibiilty_pie %>);
    var chart1 = new google.visualization.PieChart(document.getElementById('responsibility_pie'));
    chart1.draw(data1, options1);

    var options2 = {
      pieHole: 0.4,
      title: "Totals By Site"
    };
    var data2 = google.visualization.arrayToDataTable(<%= raw @sro_responsibility_sites_pie %>);
    var chart2 = new google.visualization.PieChart(document.getElementById('responsibility_site_pie'));
    chart2.draw(data2, options2);

    var options3 = {
      pieHole: 0.4,
      title: "Totals By Customer"
    };
    var data3 = google.visualization.arrayToDataTable(<%= raw @sro_by_customer_pie %>);
    var chart3 = new google.visualization.PieChart(document.getElementById('customer_pie'));
    chart3.draw(data3, options3);

    var options4 = {
      pieHole: 0.4,
      title: "Totals By Site"
    };
    var data4 = google.visualization.arrayToDataTable(<%= raw @sro_by_customer_sites_pie %>);
    var chart4 = new google.visualization.PieChart(document.getElementById('customer_site_pie'));
    chart4.draw(data4, options4);

    var options5 = {
      pieHole: 0.4,
      title: "Totals By Failure Code"
    };
    var data5 = google.visualization.arrayToDataTable(<%= raw @sro_by_failure_code_pie %>);
    var chart5 = new google.visualization.PieChart(document.getElementById('failure_code_pie'));
    chart5.draw(data5, options5);

    var options6 = {
      pieHole: 0.4,
      title: "Totals By Site"
    };

    var data6 = google.visualization.arrayToDataTable(<%= raw @sro_by_failure_code_sites_pie %>);
    var chart6 = new google.visualization.PieChart(document.getElementById('failure_code_site_pie'));
    chart6.draw(data6, options6);

    var pie_options = {
      pieHole: 0.4
    };


    var data8 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_customer_pie["2000"] %>);
    var chart8 = new google.visualization.PieChart(document.getElementById('site_customer_pie_2'));
    chart8.draw(data8, pie_options);

    var data9 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_customer_pie["3000"] %>);
    var chart9 = new google.visualization.PieChart(document.getElementById('site_customer_pie_3'));
    chart9.draw(data9, pie_options);

    var data10 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_customer_pie["4300"] %>);
    var chart10 = new google.visualization.PieChart(document.getElementById('site_customer_pie_4'));
    chart10.draw(data10, pie_options);

    var data11 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_customer_pie["5000"] %>);
    var chart11 = new google.visualization.PieChart(document.getElementById('site_customer_pie_5'));
    chart11.draw(data11, pie_options);

    var data12 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_customer_pie["9000"] %>);
    var chart12 = new google.visualization.PieChart(document.getElementById('site_customer_pie_6'));
    chart12.draw(data12, pie_options);

    var data14 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_reason_pie["2000"] %>);
    var chart14 = new google.visualization.PieChart(document.getElementById('site_reason_pie_2'));
    chart14.draw(data14, pie_options);

    var data15 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_reason_pie["3000"] %>);
    var chart15 = new google.visualization.PieChart(document.getElementById('site_reason_pie_3'));
    chart15.draw(data15, pie_options);

    var data16 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_reason_pie["4300"] %>);
    var chart16 = new google.visualization.PieChart(document.getElementById('site_reason_pie_4'));
    chart16.draw(data16, pie_options);

    var data17 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_reason_pie["5000"] %>);
    var chart17 = new google.visualization.PieChart(document.getElementById('site_reason_pie_5'));
    chart17.draw(data17, pie_options);

    var data18 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_reason_pie["9000"] %>);
    var chart18 = new google.visualization.PieChart(document.getElementById('site_reason_pie_6'));
    chart18.draw(data18, pie_options);


    var data20 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_item_pie["2000"] %>);
    var chart20 = new google.visualization.PieChart(document.getElementById('site_item_pie_2'));
    chart20.draw(data20, pie_options);

    var data21 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_item_pie["3000"] %>);
    var chart21 = new google.visualization.PieChart(document.getElementById('site_item_pie_3'));
    chart21.draw(data21, pie_options);

    var data22 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_item_pie["4300"] %>);
    var chart22 = new google.visualization.PieChart(document.getElementById('site_item_pie_4'));
    chart22.draw(data22, pie_options);

    var data23 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_item_pie["5000"] %>);
    var chart23 = new google.visualization.PieChart(document.getElementById('site_item_pie_5'));
    chart23.draw(data23, pie_options);

    var data24 = google.visualization.arrayToDataTable(<%= raw @sro_by_site_item_pie["9000"] %>);
    var chart24 = new google.visualization.PieChart(document.getElementById('site_item_pie_6'));
    chart24.draw(data24, pie_options);

    $('select#Criteria').on('change', function (e) {
      chart1.draw(data1, options1);
      chart2.draw(data2, options2);
      chart3.draw(data3, options3);
      chart4.draw(data4, options4);
      chart5.draw(data5, options5);
      chart6.draw(data6, options6);
      chart8.draw(data8, pie_options);
      chart9.draw(data9, pie_options);
      chart10.draw(data10, pie_options);
      chart11.draw(data11, pie_options);
      chart12.draw(data12, pie_options);
      chart14.draw(data14, pie_options);
      chart15.draw(data15, pie_options);
      chart16.draw(data16, pie_options);
      chart17.draw(data17, pie_options);
      chart18.draw(data18, pie_options);
      chart20.draw(data20, pie_options);
    });
  }

</script>
<div style="margin-top:100px;">
</div>
<div class="container">
  <div id="ByResponsibility">
    <div class="row">
      <div class="col-md-6"><div id="responsibility_pie" style="height: 350px;"></div></div>
      <div class="col-md-6"><div id="responsibility_site_pie" style="height: 350px;"></div></div>
    </div>
    <table class="table table">
      <thead>
        <tr>
          <th>Responsibility</th>
          <th>Failure Code</th>
          <th class="text-center">Reasons</th>
          <th style="width:100px;text-align: center;">2000</th>
          <th style="width:100px;text-align: center">3000</th>
          <th style="width:100px;text-align: center">4300</th>
          <th style="width:100px;text-align: center">5000</th>
          <th style="width:100px;text-align: left">9000</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @sro_by_responsibility.each do |key, codes| %>
          <tr>
            <td><%= key %></td>
            <td style="padding-left: 0;padding-right:0;">
              <table class="table table-striped" style="width:100%">
                <% codes.keys.each do |code| %>
                  <% unless codes[code].empty? %>
                    <tr class="inside_table">
                      <td><%= code %></td>
                    </tr>
                  <% end %>
                <% end %>
              </table>
            </td>
            <td style="padding-left: 0;padding-right:0;">
              <table  class="table table-striped" style="width:100%">            
                <% codes.each do |key, value| %>
                  <% unless value.class == Array %>
                    <tr class="inside_table">
                      <% value["description"].each do |desc| %>
                        <td><%= desc %></td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </table>
            </td>
            <td colspan="7" style="padding-left:0;padding-right:0;">
              <table class="table table-striped" style="width:100%">
                <% codes.each do |key, value|%>
                  <% unless value.class == Array %>
                    <tr class="inside_table" style="border-right:none;">
                      <td style="width:100px; text-align:right;"><%= number_to_currency(value["2000"]) %></td>
                      <td style="width:100px; text-align:right;"><%= number_to_currency(value["3000"]) %></td>
                      <td style="width:100px; text-align:right;"><%= number_to_currency(value["4300"]) %></td>
                      <td style="width:100px; text-align:right;"><%= number_to_currency(value["5000"]) %></td>
                      <td style="width:100px; text-align:right;"><%= number_to_currency(value["9000"]) %></td>
                      <td style="width:100px; text-align:right;"><%= number_to_currency(value["Total"]) %></td>
                    </tr>
                  <% end %>
                <% end %>
              </table>
            </td>
          </tr>
        <% end %> 
      </tbody>
    </table>
  </div>
  <div id="ByCustomer" style="">
    <div class="row">
      <div class="col-md-6"><div id="customer_pie" style="height: 350px;"></div></div>
      <div class="col-md-6"><div id="customer_site_pie" style="height: 350px;"></div></div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer</th>
          <th style="width:100px;text-align: center;">2000</th>
          <th style="width:100px;text-align: center">3000</th>
          <th style="width:100px;">4300</th>
          <th style="width:100px;">5000</th>
          <th style="width:100px;text-align: center">9000</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @sro_by_customer.each do |key, value| %>
          <% unless key == "Grand Total" %>
            <tr>
              <td><%= key %></td>
              <td style="width:100px;text-align: center;"><%= number_to_currency(value["2000"]) %></td>
              <td style="width:100px;text-align: center;"><%= number_to_currency(value["3000"]) %></td>
              <td style="width:100px;"><%= number_to_currency(value["4300"]) %></td>
              <td style="width:100px;"><%= number_to_currency(value["5000"]) %></td>
              <td style="width:100px;text-align: center;"><%= number_to_currency(value["9000"]) %></td>
              <td><%= number_to_currency(value["Total"]) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="BySiteCustomer" style="">
    <div class="row">
      <!-- <div class="col-md-4">
        <div class="row">
          <div id="site_customer_pie_1" style="height: 200px;"></div>
        </div>
      </div> -->
      <div class="col-md-4 col-md-offset-2">
        <div class="row">
          <div class="text-center" style="color:grey;">2000</div>
        </div>
        <div id="site_customer_pie_2" style="height: 200px;"></div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="text-center" style="color:grey;">3000</div>
        </div>
        <div class="row">
          <div id="site_customer_pie_3" style="height: 200px;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="text-center" style="color:grey;">4300</div>
        </div>
        <div class="row">
          <div id="site_customer_pie_4" style="height: 200px;"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="text-center" style="color:grey;">5000</div>
        </div>
        <div id="site_customer_pie_5" style="height: 200px;"></div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="text-center" style="color:grey;">9000</div>
        </div>
        <div class="row">
          <div id="site_customer_pie_6" style="height: 200px;"></div>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Site</th>
          <th style="width:500px;">Customer Name</th>
          <th>Failure Code</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @sro_by_site_customer.each do |key, value| %>
          <tr>
            <td ><%= key %></td>
            <td colspan="4">
              <table style="width:100%;">
              <tbody>
                <% value = Sro.sort_by_total(value) %>
                <% value.each do |key, values| %>
                  <tr >
                    <td style="width:500px;"><%= key %></td>
                    <td colspan="2">
                      <table style="width:100%;">
                        <tbody>
                          <tr>
                            <td class="text-left"><%= values[:failure_code] %></td>
                            <td class="text-right"><%= number_to_currency(values[:total]) %></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                <% end %>
              </tbody>
              </table>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="BySiteReason" style="">
    <div class="row">
      <!-- <div class="col-md-4">
        <div class="row">
          <div id="site_reason_pie_1" style="height: 200px;"></div>
        </div>
      </div> -->
      <div class="col-md-4 col-md-offset-2">
        <div class="row">
          <div class="text-center" style="color:grey;">2000</div>
        </div>
        <div id="site_reason_pie_2" style="height: 200px;"></div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="text-center" style="color:grey;">3000</div>
        </div>
        <div class="row">
          <div id="site_reason_pie_3" style="height: 200px;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="text-center" style="color:grey;">4300</div>
        </div>
        <div class="row">
          <div id="site_reason_pie_4" style="height: 200px;"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="text-center" style="color:grey;">5000</div>
        </div>
        <div id="site_reason_pie_5" style="height: 200px;"></div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="text-center" style="color:grey;">9000</div>
        </div>
        <div class="row">
          <div id="site_reason_pie_6" style="height: 200px;"></div>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Site</th>
          <th style="width:200px;">Failure Code</th>
          <th>Reason</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @sro_by_site_reason.each do |key, value| %>
          <tr>
            <td ><%= key %></td>
            <td colspan="4">
              <table style="width:100%;">
              <tbody>
                <% value = Sro.sort_by_total(value) %>
                <% value.each do |key, values| %>
                  <tr >
                    <td style="width:200px;"><%= key %></td>
                    <td colspan="2">
                      <table style="width:100%;">
                        <tbody>
                          <tr>
                            <td class="text-left"><%= values[:reason] %></td>
                            <td class="text-right"><%= number_to_currency(values[:total]) %></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                <% end %>
              </tbody>
              </table>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="BySiteItem">
    <div class="row">
      <!-- <div class="col-md-4">
        <div class="row">
          <div id="site_item_pie_1" style="height: 200px;"></div>
        </div>
      </div> -->
      <div class="col-md-4 col-md-offset-2">
        <div class="row">
          <div class="text-center" style="color:grey;">2000</div>
        </div>
        <div id="site_item_pie_2" style="height: 200px;"></div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="text-center" style="color:grey;">3000</div>
        </div>
        <div class="row">
          <div id="site_item_pie_3" style="height: 200px;"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="text-center" style="color:grey;">4300</div>
        </div>
        <div class="row">
          <div id="site_item_pie_4" style="height: 200px;"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="text-center" style="color:grey;">5000</div>
        </div>
        <div id="site_item_pie_5" style="height: 200px;"></div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="text-center" style="color:grey;">9000</div>
        </div>
        <div class="row">
          <div id="site_item_pie_6" style="height: 200px;"></div>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Site</th>
          <th style="width:500px;">Item Number</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @sro_by_site_item.each do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td colspan="2">
              <table style="width:100%;">
                <tbody>
                <% value = Sro.sort_by_total(value) %>
                  <% value.each do |item, value| %>
                    <tr>
                      <td><%= item %></td>
                      <td class="text-right"><%= number_to_currency(value[:total]) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="ByFailureCode">
    <div class="row">
      <div class="col-md-6"><div id="failure_code_pie" style="height: 350px;"></div></div>
      <div class="col-md-6"><div id="failure_code_site_pie" style="height: 350px;"></div></div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Failure Code</th>
          <th style="width:500px;">Reason</th>
          <th>2000</th>
          <th>3000</th>
          <th>4300</th>
          <th>5000</th>
          <th>9000</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>

        <% @sro_by_failure_code.each do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value[:reason] %></td>
            <td><%= number_to_currency(value["2000"])%></td>
            <td><%= number_to_currency(value["3000"])%></td>
            <td><%= number_to_currency(value["4300"])%></td>
            <td><%= number_to_currency(value["5000"])%></td>
            <td><%= number_to_currency(value["9000"])%></td>
            <td class="text-right"><%= number_to_currency(value["Total"]) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="BySiteReasonPeriod">
  </div>
</div>
