<script type="text/javascript">
	$(window).load(function(){
		$('span#export').on('click', function(){
			$('#emailModal').modal('show');
	  });

	  $('.sendEmail').on('click', function(){
	  	email = $('#toEmail').val();
  	  if (window.location.search == "") {
		  	start_date = "";
		  	end_date = "";
		  } else {
			  start_date = GetURLParameter('start_date');
	      end_date = GetURLParameter('end_date');	      	
		  }

      $.ajax({
          url: '/salesforces/data_export',
          type: 'post',
          datatype: 'json',
          data: {start_date: start_date, end_date: end_date, email: email},
          success: function (data) {
          		$('#emailModal').modal('hide');
              if (data["success"] == true){
                alert("Email is on it's way");
              } else {
                alert("There was an error when exporting. Please try again");
              }
          }
          
      });
    });
	});
</script>

<div class="container" style="margin-top: 60px;">
	<ul class="nav nav-pills nav-justified">
	  <li role="presentation" class="active"><a href="#sales_call_total"  aria-controls="home" role="tab" data-toggle="tab">Sales Call Total</a></li>
	  <li role="presentation"><a href="#sales_call_percent"  aria-controls="home" role="tab" data-toggle="tab">Sales Call Percent</a></li>
	  <li role="presentation"><a href="#projections"  aria-controls="home" role="tab" data-toggle="tab">vs. % <%= (Date.today - 1.year).strftime("%Y") %> Projected</a></li>
	</ul>

	 <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="sales_call_total">
    	<table class="table table" id="salesCallTotalTable">
				<thead>
					<tr class="bg-primary">
						<th colspan=6 class="text-center">Sales Call Report Totals - <%= Date.today.strftime("%Y") %>
					</tr>
					<tr class="active">
						<th>TSM</th>
						<th class="text-center"><%= @Q1 %></th>
						<th class="text-center"><%= @Q2 %></th>
						<th class="text-center"><%= @Q3 %></th>
						<th class="text-center"><%= @Q4 %></th>
						<th class="text-center">Year To Date</th>
					</tr>
					<tr>
						<th></th>
						<% 1.upto(5) do %>
							<th>
								<table style="width:100%;">
										<tbody>
											<tr>
												<td>Bus Plan</td>
												<td>Non BP</td>
												<td>Total</td>
											</tr>
										</tbody>
									</table>
							</th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="borderedTD">
							<table class="table table">
								<tbody>
									<% @tsm_sales_call_details.keys.each do |tsm| %>
										<% unless tsm == :all_calls %>
											<% @tsm_sales_call_details[tsm].each do |rep, value| %>
											  <% unless rep == :Total%>
											  	<tr>
														<td><%= rep %></td>
													</tr>
											  <% end %> 
											<% end %>
											<tr style="background-color:lightgrey;">
										  	<td style="white-space: nowrap;"><%= tsm %> - Team Totals </td>
										  </tr>
										<% end %>
									<% end %>
								</tbody>
							</table>
						</td>

						<%= render partial: 'tsm_call_details_table', locals: {quarter: "Q1"}, assigns: {tsm_sales_call_details: @tsm_sales_call_details}  %>
						<%= render partial: 'tsm_call_details_table', locals: {quarter: "Q2"}, assigns: {tsm_sales_call_details: @tsm_sales_call_details}  %>
						<%= render partial: 'tsm_call_details_table', locals: {quarter: "Q3"}, assigns: {tsm_sales_call_details: @tsm_sales_call_details}  %>
						<%= render partial: 'tsm_call_details_table', locals: {quarter: "Q4"}, assigns: {tsm_sales_call_details: @tsm_sales_call_details}  %>
						<%= render partial: 'tsm_call_details_table', locals: {quarter: "YTD"}, assigns: {tsm_sales_call_details: @tsm_sales_call_details}  %>
					</tr>

					<tr class="info">
						<td class="borderedTD" style="vertical-align: middle;text-align: center;">Total All</td>
						<td class="borderedTD">
							<table class="table table">
								<tbody>
									<% @tsm_sales_call_details.each do |key, reps| %>
										<% if key == :all_calls %>
											<% reps.each do |key, value| %>
												<% if key == :all_calls%>
													<tr class="info">
														<td class="centerTD"><%= value[:Q1][:bus_plan] %></td>
														<td class="centerTD"><%= value[:Q1][:non_bus_plan] %></td>
														<td class="centerTD"><%= value[:Q1][:total] %></td>
													</tr>
												<% end %>
											<% end %>
										<% end %>
									<% end %>
								</tbody>
							</table>
						</td>
						<td class="borderedTD">
							<table class="table table">
								<tbody>
									<% @tsm_sales_call_details.each do |key, reps| %>
										<% if key == :all_calls %>
											<% reps.each do |key, value| %>
												<% if key == :all_calls%>
													<tr class="info">
														<td class="centerTD"><%= value[:Q2][:bus_plan] %></td>
														<td class="centerTD"><%= value[:Q2][:non_bus_plan] %></td>
														<td class="centerTD"><%= value[:Q2][:total] %></td>
													</tr>
												<% end %>
											<% end %>
										<% end %>
									<% end %>
								</tbody>
							</table>
						</td>
						<td class="borderedTD">
							<table class="table table">
								<tbody>
									<% @tsm_sales_call_details.each do |key, reps| %>
										<% if key == :all_calls %>
											<% reps.each do |key, value| %>
												<% if key == :all_calls%>
													<tr class="info">
														<td class="centerTD"><%= value[:Q3][:bus_plan] %></td>
														<td class="centerTD"><%= value[:Q3][:non_bus_plan] %></td>
														<td class="centerTD"><%= value[:Q3][:total] %></td>
													</tr>
												<% end %>
											<% end %>
										<% end %>
									<% end %>
								</tbody>
							</table>
						</td>
						<td class="borderedTD">
							<table class="table table">
								<tbody>
									<% @tsm_sales_call_details.each do |key, reps| %>
										<% if key == :all_calls %>
											<% reps.each do |key, value| %>
												<% if key == :all_calls%>
													<tr class="info">
														<td class="centerTD"><%= value[:Q4][:bus_plan] %></td>
														<td class="centerTD"><%= value[:Q4][:non_bus_plan] %></td>
														<td class="centerTD"><%= value[:Q4][:total] %></td>
													</tr>
												<% end %>
											<% end %>
										<% end %>
									<% end %>
								</tbody>
							</table>
						</td>
						<td class="borderedTD">
							<table class="table table">
								<tbody>
									<% @tsm_sales_call_details.each do |key, reps| %>
										<% if key == :all_calls %>
											<% reps.each do |key, value| %>
												<% if key == :all_calls%>
													<tr class="info">
														<td class="centerTD"><%= value[:YTD][:bus_plan] %></td>
														<td class="centerTD"><%= value[:YTD][:non_bus_plan] %></td>
														<td class="centerTD"><%= value[:YTD][:total] %></td>
													</tr>
												<% end %>
											<% end %>
										<% end %>
									<% end %>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="sales_call_percent">
    	<table class="table table" id="salesCallPercentTable">
				<thead>
					<tr class="bg-primary">
						<th colspan=6 class="text-center">Sales Call Report Percent - <%= Date.today.strftime("%Y") %>
					</tr>
					<tr class="active">
						<th>TSM</th>
						<th class="text-center"><%= @Q1 %></th>
						<th class="text-center"><%= @Q2 %></th>
						<th class="text-center"><%= @Q3 %></th>
						<th class="text-center"><%= @Q4 %></th>
						<th class="text-center">Year To Date</th>
					</tr>
					<tr>
						<th></th>
						<% 1.upto(5) do %>
							<th>
								<table style="width:100%;">
										<tr>
												<td class="centerTD">Bus Plan</td>
												<td class="centerTD">Non BP</td>
												<td class="centerTD">Calls per wk</td>
											</tr>
									</table>
							</th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="borderedTD">
							<table class="table table">
								<tbody>
									<% @tsm_sales_call_details.keys.each do |tsm| %>
										<% unless tsm == :all_calls %>
											<% @tsm_sales_call_details[tsm].each do |rep, value| %>
											  <% unless rep == :Total%>
											  	<tr>
														<td><%= rep %></td>
													</tr>
											  <% end %> 
											<% end %>
											<tr style="background-color:lightgrey;">
										  	<td style="white-space: nowrap;"><%= tsm %> - Team Totals </td>
										  </tr>
										<% end %>
									<% end %>
								</tbody>
							</table>
						</td>
						<%= render partial: 'tsm_call_perc_table', locals: {quarter: "Q1"}, assigns: {tsm_sales_call_perc_details: @tsm_sales_call_perc_detail}  %>
						<%= render partial: 'tsm_call_perc_table', locals: {quarter: "Q2"}, assigns: {tsm_sales_call_perc_details: @tsm_sales_call_perc_detail}  %>
						<%= render partial: 'tsm_call_perc_table', locals: {quarter: "Q3"}, assigns: {tsm_sales_call_perc_details: @tsm_sales_call_perc_detail}  %>
						<%= render partial: 'tsm_call_perc_table', locals: {quarter: "Q4"}, assigns: {tsm_sales_call_perc_details: @tsm_sales_call_perc_detail}  %>
						<%= render partial: 'tsm_call_perc_table', locals: {quarter: "YTD"}, assigns: {tsm_sales_call_perc_details: @tsm_sales_call_perc_detail}  %>
					</tr>
				</tbody>
			</table>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="projections">
    	<table class="table table" id="projectedTable">
				<thead>
					<tr class="bg-primary">
						<th colspan=3 class="text-center">vs. % <%= Date.today.strftime("%Y") %> Projected</th>
					</tr>
					<tr class="active">
						<th>Overall</th>
						<th>Key Categories</th>
						<th>Total BP Calls per Person</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					</tr>
				</tbody>
			</table>
    </div>
  </div>
</div>
