
<script type="text/javascript">
	$(document).ready(function(){
		$('#responsibility_name').focus();
		editSingleFieldForm("responsibility", "Edit Responsibility", "responsibilityEditBtn", "sro_responsibility");
	});

	
</script>
<div class="container">
	<table class="table table" id="tsmTable">
		<thead>
			<tr>
				<th><%= link_to "<< Back", configurations_management_overview_index_path %></th>
			</tr>
			<tr>
				<th class="text-center active" colspan=5><%= @header %></th>
			</tr>
		</thead>
		<tbody>
			<% @responsibilities.each do |r| %>
				<tr>
					<td><%= r.name %></td>
					<td><div class="pull-right"><%= link_to "Edit", "#", class: "edit_responsibility" %> | <%= link_to "Delete",configurations_sro_responsibility_path(id: r.id), data: {confirm: 'Are you sure you want to delete this responsibility?'}, method: :delete %></div></td>
					<td><%= hidden_field_tag :responsibility_id, r.id %></td>
				</tr>
			<% end %>
			<tr>
				<%= render partial: 'configurations/form_partials/new_single_form', locals: {form_name: :responsibility, btn_text: "Add Responsibility", form_placeholder: "Enter Responsibility Description"} %>
			</tr>
		</tbody>
	</table>
</div>