
<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Endura Dashboard" %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
    
    </script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" >
		   <span><%= image_tag("endura-check.svg", height:"20", data: {title: "Endura"}) %></span>
		   Endura
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <div class="form-inline">
                        <div class="form-group" style="margin-top:8px;">
                            <% if current_page?('/sros/alls') %>
                                <div class="form-group">
                                    <li><%= select(:sro_criteria, :criteria_id, @criteria.map {|search| search.criteria },{}, {class: 'form-control text-center', id: 'Criteria'}) %></li>
                                </div>
                                <div class="form-group">
                                    <li><input type="text" class="form-control datepicker" id="start_date" placeholder="Start Date..." style="text-align:center;"></li>
                                </div>
                                <div class="form-group">
                                    <li><input type="text" class="form-control datepicker" id="end_date" placeholder="End Date..." style="text-align:center;"></li>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success search">GO</button>
                                </div>
                            <% elsif current_page?('/sros/order_entries') %>
                                <div class="form-group">
                                    <li><input type="text" class="form-control datepicker" id="start_date" placeholder="Start Date..." style="text-align:center;"></li>
                                </div>
                                <div class="form-group">
                                    <li><input type="text" class="form-control datepicker" id="end_date" placeholder="End Date..." style="text-align:center;"></li>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success search">GO</button>
                                </div>
                                <div class="form-group">
                                    <li><%= check_box 'stop', 'start', id: 'stop_cycle' %> <label style="color:#428bca;">Auto Cycle: ON</label></li>
                                </div>
                            <% elsif current_page?('/salesforces/sales_calls') %>
                                <div class="form-group">
                                    <li><input type="text" class="form-control datepicker" id="start_date" placeholder="Start Date..." style="text-align:center;"></li>
                                </div>
                                <div class="form-group">
                                    <li><input type="text" class="form-control datepicker" id="end_date" placeholder="End Date..." style="text-align:center;"></li>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success search">GO</button>
                                </div>
                                <div class="form-group">
                                    <li><%= link_to salesforces_data_export_index_path, method: :post  do %><span class="glyphicon glyphicon-cloud-download" title="Export to XLS" aria-hidden="false" id="export_xls"></span><% end %></li>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div style="margin-top: 60px;">
        <div class="container">
            <% if flash[:notice] %>
              <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> <%= flash[:notice] %>
              </div>
            <% elsif flash[:error] %>
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> 
                <ul>
                  <% flash[:error].each do |error| %>
                      <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
        </div>
        <%= yield %>
    </div>
    
    <div class="modal fade" id="emailModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Email Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="text" class="col-md-10 col-md-offset-1" id="toEmail" placeholder="Enter Email Sending Export to..">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary sendEmail">Send Email</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    $(window).load(function(){
      (GetURLParameter('start_date') == 'undefined') ? $('#start_date').val() : $('#start_date').val(GetURLParameter('start_date'));
      (GetURLParameter('end_date') == 'undefined') ? $('#end_date').val() : $('#end_date').val(GetURLParameter('end_date'));
    });
    
    $('.search').on('click', function(){
    	var start = $('#start_date').val();
    	var end = $('#end_date').val();
      window.location.href = "http://" + window.location.host + window.location.pathname + '?start_date=' + start + '&end_date=' + end
    });

    $( function() {
      var interval = setInterval(function(){ changeTab(); }, 120000);
      $('#start_date, #end_date').datepicker();

      $('#stop_cycle').on('click', function(){
        if (this.checked == true){
            clearInterval(interval);
            $(this).siblings().last().text('Auto Cycle: OFF');
            $(this).siblings().last().css('color', '#d9534f');
        } else {
            interval = setInterval(function(){ changeTab(); }, 120000);
            $(this).siblings().last().text('Auto Cycle: ON');
            $(this).siblings().last().css('color', '#428bca');
        }
      });
    });

    function changeTab(){
        first_id = $('a[data-toggle="tab"]').first().attr('id');
        next_active = $('a[data-toggle="tab"]').parent('.active').next();
        next_id = next_active.children().attr('id')
        if (next_active.length == 0) {
            $('a[data-toggle="tab"]#' + first_id).trigger('click');
        } else { 
            $('a[data-toggle="tab"]#' + next_id).trigger('click');
        }
        
    }

    function GetURLParameter(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++)
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam)
            {
                return sParameterName[1];
            }
        }
    }

    $('#Tsm').on('change', function () {
        var search = $(this).val();
        if (search == '-') {
            $("tr").removeClass('hidden');
            $('#totalCount').text($("tbody tr:contains(" + search + ")").size());
        } else {
          $("tbody td").parent('tr').removeClass('hidden')
          $('tbody tr').addClass('hidden');
          $("tbody tr:contains(" + search + ")").removeClass('hidden')
          $('#totalCount').text($("tbody tr:contains(" + search + ")").size());               
        }
    });

    $('.remote_report_link').on('click', function(e){
        date = ($('#start_date').val() == "") ? new Date() : $('#start_date').val()

        if (this.search.match(/_/g) == null){
            date = ($.type(date) == "string") ? date : (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear().toString().substr(-2)
            location.href = "http://" + this.hostname + this.pathname + this.search.match(/[\D]+/g)[0] + date
        } else {
            date = ($.type(date) == "string") ? date : (date.getMonth() + 1) + "_" + date.getDate() + "_" + date.getFullYear().toString().substr(-2) + "_invexport.txt"
            location.href = "http://" + this.hostname + this.pathname + this.search.match(/[\D]+/g)[0] + date
        }
    });
  </script>
</html>
