<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Endura Dashboard" %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" >
		   <span><%= image_tag("endura-check.svg", height:"20", data: {title: "Endura"}) %></span>
		   Endura
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="form-inline">
                            <div class="form-group" style="margin-top:8px;">
                                <% if current_page?(controller: 'alls', action: 'index') %>
                                    <div class="form-group">
                                     <%= select(:sro_criteria, :criteria_id, @criteria.map {|search| search.criteria },{prompt: "-- Select Search Criteria --", }, {class: 'form-control text-center', id: 'Criteria'}) %>
                                    </div>
                                <% else %>
                                    <div class="form-group">
                                        <input type="text" class="form-control datepicker" id="start_date" placeholder="Start Date..." style="text-align:center;">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control datepicker" id="end_date" placeholder="End Date..." style="text-align:center;">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success search">GO</button>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <%= yield %>
  </body>
  <script type="text/javascript">
    $('.search').on('click', function(){
	var start = $('#start_date').val();
	var end = $('#end_date').val();
        window.location.href = window.location.href + '?start_date=' + start + '&end_date=' + end
    });
  </script>
</html>
